@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Quicksand', sans-serif;
  font-size:16px;
  /*
  #4CC9F0
  #4895EF
  #4361EE
  #3F37C9
  #3A0CA3
  #480CA8
  #560BAD
  #F72585
  */
}
body{
  background:#ffffff;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  flex-direction:column;
  text-align:center;
  font-size:1em;
}
.clock{
  width:190px;
  height:190px;
  border-radius:50%;
  background-color:#5b00ee;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  color:white;
}
.clock::before{
  content:'';
  position:absolute;
  width:210px;
  height:210px;
  border-radius:50%;
  background-color:#5b00ee;
  z-index:-2;
  box-shadow:5px 5px 15px rgba(0,0,0,0.2),
             -5px -5px 15px rgba(0,0,0,0.2);
}
#sec{
  position:absolute;
  width:197px;
  height:197px;
  border-radius:50%;
  background-color:#8134ff;
  z-index:-1;
  overflow:hidden;
}
#sec div{
  --angle:80deg;
  content:'';
  position:absolute;
  left:0%;
  width:100%;
  height:100%;
  background-color:#F72585;
  clip:rect(0px,105px,210px,0px);
  transform:rotate(var(--angle));
  transition:1s;
}
#sec::after{
  content:'';
  position:absolute;
  left:0%;
  width:100%;
  height:100%;
  background-color:#8134ff;
  clip:rect(0px,105px,210px,0px);
}
#secT{
  position:absolute;
  width:197px;
  height:197px;
  border-radius:50%;
  background-color: transparent;
  z-index:-1;
  overflow:hidden;
}
#secT div{
  --angle:-180deg;
  content:'';
  position:absolute;
  left:0%;
  width:100%;
  height:100%;
  background-color:#F72585;
  clip:rect(0px,105px,210px,0px);
  transform:rotate(var(--angle));
  transition:1s;
}
.clock #time{
  color: white;
  font-size:3em;
}
.clock #day{
  font-size:0.88em;
}
.fa-plus{
  font-size:1.4em;
  color:#2b2b2b;
  position:fixed;
  top:15px;
  left:15px;
  text-decoration:none;
}
.fa-pen{
  font-size:1.2em;
  color:#2b2b2b;
  position:fixed;
  top:16px;
  right:16px;
  text-decoration:none;
}
.gBar div{
  background-color:white;
  padding:5px;
  border-radius:20px;
  padding-left:15px;
  margin-top:30px;
  margin-bottom:50px;
  box-shadow:5px 5px 15px rgba(0,0,0,0.08),
             -5px -5px 15px rgba(0,0,0,0.09);
}
#classList div:nth-child(odd){
  width:300px;
  height:50px;
  background-color:#8134ff;
  line-height:50px;
  border-radius:15px;
  margin:10px;
  color:white;
}
#classList div:nth-child(even){
  width:300px;
  height:50px;
  background-color:#5b00ee;
  line-height:50px;
  border-radius:15px;
  margin:10px;
  color:white;
}
#classList div a{
  text-decoration:none;
  color:white;
}